{% extends "base.html" %}

{% block content %}
    {% comment %} <ul>
        {% for site in certificados %}
            <li>{{ site }}</li>
        {% endfor %}
    </ul> {% endcomment %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Status</th>
                <th>Link</th>
                <th>Validade</th>
                <th>Dias para expirar</th>
            </tr>
        </thead>
        <tbody>
            {% for certificado in certificados %}
                <tr>
                    <td>{{ certificado.status }}</td>
                    <td>
                        <a href="{{ certificado.link }}">
                            {{ certificado.link }}
                        </a>                        
                    </td>
                    <td>{{ certificado.validade }}</td>
                    <td>{{ certificado.dias_expirar }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
